/* Animation Styles */
.first-left-side {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 0.8s forwards;
  animation-delay: 0.3s;
}

.first-right-side {
  opacity: 0;
  transform: translateX(50px);
  animation: slideInLeft 0.8s forwards;
  animation-delay: 0.6s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20 0 20 0px;
}

.first-right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.first-left-side {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.main-content h2 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
  color: #333;
}


.cta-button {
  padding: 12px 24px;
  background: #94B9FF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Glow effect */
.cta-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, 
    rgba(255,255,255,0.1) 0%, 
    rgba(255,255,255,0.3) 50%, 
    rgba(255,255,255,0.1) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

/* Hover states */
.cta-button:hover {
  background-color: #94B9FF;
  transform: translateY(-2px);
  box-shadow: 0 0 15px #94B9FF;
}

.cta-button:hover::after {
  opacity: 1;
  animation: glow 2s infinite linear;
}

.profile-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none; 
  padding: 20px 20px 20px 20px;
}

.profile-video {
  width: 300px;
  height: 300px;
  min-width: 300px; 
  min-height: 300px; 
  border-radius: 50%;
  object-fit: cover;
  object-position: center 10%; 
  display: block;
  transform: translateZ(0);
  cursor: default;
  box-shadow: 
    0 0 15px rgba(37, 99, 235, 0.6), 
    0 0 30px rgba(255, 255, 255, 0.4); 
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
